@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #07111f;
  color: white;
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}

/* ===== INPUT FIX ===== */

input,
textarea,
select {
  background: #ffffff !important;
  color: #000000 !important;
  -webkit-text-fill-color: #000000 !important;
  opacity: 1 !important;
  font-size: 16px;
}

input::placeholder,
textarea::placeholder {
  color: #6b7280 !important;
  opacity: 1;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #2563eb !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000000 !important;
  transition: background-color 5000s ease-in-out 0s;
}